@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="row">
            <div class="col-3">
                <a class="btn btn-success btn-sm text-light" asp-controller="Quiz" asp-action="Create">Create Quiz</a>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
                <a class="btn btn-success btn-sm text-light" asp-controller="Auth" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</div>



