@using NextLevel_Bootcamp_FinalWork.Models.ViewModels;
@model List<QuestionsViewModel>

<div class="container">
    <div class="row gx-5">
        <div class="col-10">
            <h3>Quiz Name: @ViewBag.quizName</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-success" asp-controller="Quiz" asp-action="AddQuestion" asp-route-id="@ViewBag.QuizID">Add Question</a>
        </div>
    </div>
    <div class=container>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Question Content</th>
                    <th scope="col">Edit Question</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.Content</p>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Quiz" asp-action="DeleteQuestion" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>